bin
obj
.vs
ASIC EXERSICE AND EXAMS/ConStAdvance-06.Exercise/ConStAdvance-06.Exercise.sln
*sin

/Password Hints.txt
/Exercise LINQ/MusicHub/StartUp.zip
/EX- Best Practices And Architecture of app/CinemaApp_5.0/CinemaApp/appsettings.json
/Web project - Events/EventMi/EventMiMVC.Web/*.user
/Web project - Blog/Blog/BlogApp/*.user
/Web project - Blog/Blog/BlogApp/Properties/launchSettings.json
/Web project - Blog/Blog/BlogApp/appsettings.json
/Web project - Blog/Blog/BlogApp/Properties/serviceDependencies.local.json.user
