bin
obj
.vs
ASIC EXERSICE AND EXAMS/ConStAdvance-06.Exercise/ConStAdvance-06.Exercise.sln
*sin

/Password Hints.txt
/Exercise LINQ/MusicHub/StartUp.zip
/EX- Best Practices And Architecture of app/CinemaApp_5.0/CinemaApp/appsettings.json
